.add-artwork {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-wrap: wrap;
}

.add-artwork__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-left: 1em;
    margin-top: 1em;
    background-color: #333333;
    padding: 1em;
    border-radius: 5px;
}

.add-artwork__form__label {
    align-self: flex-start;
    color: white;
}

.add-artwork__form__input {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.add-artwork__form__input:last-of-type {
    border-style: none;
    color: white;
}

.add-artwork__form__input:last-of-type::file-selector-button {
    font-family: 'Poppins', sans-serif;
}

.add-artwork__form__input:last-of-type::file-selector-button:hover {
    cursor: pointer;
}

.add-artwork__form-buttons {
    margin-bottom: 0.35em;
    display: flex;
    justify-content: space-around;
}

.add-artwork__form__button {
    width: 30%;
    margin: auto;
    padding: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.add-artwork__form__button:hover {
    cursor: pointer;
    border-color: #face48;
    background-color: #face48;
}