.all-artworks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 1em;
}

.all-artworks__thumbnail {
    display: flex;
    flex-direction: column;
}

.all-artworks__thumbnail-image {
    width: 300px;
    height: 480px;
}

.all-artworks__thumbnail-container {
    position: relative;
}

.all-artworks__thumbnail-container:hover {
    .all-artworks__thumbnail-image__foreground {
        display: block;
    }
}

.all-artworks__thumbnail-image__foreground {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 87%;
    display: none;
}

.all-artworks__thumbnail-link:first-of-type {
    position: absolute;
    top: -55px;
    left: 15px;
    text-decoration: none;
    color: #face48;
    font-size: 0.9em;
}

.all-artworks__thumbnail-link:last-of-type {
    position: absolute;
    top: -25px;
    left: 15px;
    text-decoration: none;
    color: #face48;
    font-size: 0.9em;
}

.all-artworks__thumbnail-link:hover {
    text-decoration: underline;
}

.all-artworks__thumbnail-delete {
    position: absolute;
    top: -42px;
    left: 98px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
}

.all-artworks__thumbnail-delete:hover {
    cursor: pointer;
    background-color: #face48;
    border-color: #face48;
}

.all-artworks__thumbnail-list {
    margin-top: 0;
    list-style: none;
    padding: 0;
}