.navbar {
    background-color: #face48;
    width: 90%;
    margin: auto;
    height: 60px;
    border-radius: 15px;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.navbar__list__all-artworks__link {
    text-decoration: none;
}

.navbar__list__all-artworks__link:visited {
    color: black;
}

.navbar__list__search-text {
    padding: 0.3em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Poppins', sans-serif;
    width: 200px;
}

.navbar__list__search-button {
    padding: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-left: 0.5em;
    transition: .3s;
}

.navbar__list__search-button:hover {
    cursor: pointer;
    transform: translateX(-5px);
}