.navbar {
    background-color: #face48;
    width: 90%;
    margin: auto;
    height: 60px;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.navbar__list__all-artworks__link {
    text-decoration: none;
}