@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
    font-family: 'Poppins', sans-serif;
}

.amplify-button[data-variation='primary'] {
    background-color: #333333;
    color: white;
}

.amplify-button[data-variation='primary']:hover {
    background-color: #face48;
    color: black;
}

.amplify-loader circle:first-of-type {
    stroke: #face48;
}

.amplify-loader circle:last-of-type {
    stroke: #ffffff !important;
}

.amplify-button[data-variation='link'] {
    color: #333333;
}

.amplify-button[data-variation='link']:hover {
    background-color: #FEF2CD;
}